<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below.</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='width: 705px; height: 228px;'></textarea> <br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <button type="submit">Analyze Text</button>
</form>
</body>
</html>